.App {
  text-align: center;
}

.heading{
  background-color: cadetblue;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#head{
  color: white;
  font-size: 40px;
}
.searchBox{
  width: 30%;
  height: 30px;
  margin-top: 10px;
}
#searchButton{
height: 37px;
width: 90px;
margin-left: 5px;
}
#imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/4203126/pexels-photo-4203126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=550&w=1260");
}

text{
  color: white;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
