.App {
  text-align: center;
}

.heading{
  background-color: cadetblue;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#head{
  color: white;
  font-size: 40px;
}
.searchBox{
  width: 30%;
  height: 30px;
  margin-top: 10px;
}
#searchButton{
height: 37px;
width: 90px;
margin-left: 5px;
}
#imgContainer{
  display: inline-block;
  height:800px;
  width: 650px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1527482797697-8795b05a13fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
